.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/ransomware-detection.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
files/Encrypted_Files_2.zip
files/More Clean Files.zip
files/Original_Files.zip
